---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>{pageTitle}</h2>
  <p>This site is a personal project and currently work in progress. You can find the source code here: <a href="https://github.com/veniplex/cyberstuff.io">https://github.com/veniplex/cyberstuff.io</a></p>
  </br>
  <p>This site uses no cookies and does not provide any service to the visitor!</p>
</BaseLayout>
